.shopping-cart-content {
  padding: 20px 20px;

  .shopping-cart-content-item {
    display: flex;
    font-size: 26px;

    .shopping-cart-content-item-selected {
      flex-grow: 1;

      display: flex;
      justify-content: center;
      align-items: center;

      .shopping-cart-select-controller {
        color: white;
        background-color: #000;
        border-radius: 50%;
        font-size: 24px;
      }
    }

    .shopping-cart-content-item-commodity {
      flex-grow: 2;
      display: flex;
      justify-content: center;
      align-items: center;

      .shopping-cart-content-item-commodity-image {
        height: 120px;
        width: 120px;
      }
    }


    .shopping-cart-content-item-content {
      flex-grow: 9;
      padding: 20px 0;
      border-bottom: 1px solid #eee;


      .shopping-cart-content-item-name {
        font-size: 30px;
      }

      .shopping-cart-content-item-info {
        color: #ccc;
      }

      .shopping-cart-content-item-foot {
        display: flex;
        justify-content: space-between;

        .shopping-cart-content-item-amount {
          font-size: 30px;
        }

        .shopping-cart-content-item-quantity {
          display: flex;
          justify-content: space-around;
          width: 150px;

          .shopping-cart-content-item-decrease {}

          .shopping-cart-content-item-number {
            font-size: 28px;
          }

          .shopping-cart-content-item-increment {}
        }

      }
    }
  }
}
