.commoditys {
  height: 96%;
  overflow: scroll;

  margin: 20px 20px 20px 0;

  .commoditys-item {
    font-size: 12px;
    display: flex;

    margin-bottom: 20px;

    .image-panel {
      flex-shrink: 0;
      width: 160px;

      display: flex;
      justify-content: center;
      align-items: center;

      .image {
        height: 120px;
        width: 120px;
      }
    }

    .info-panel {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin-bottom: 10px;

      .name {
        word-wrap: break-word;
        word-break: normal;
        font-size: 24px;
      }

      .dispcription {
        color: #ccc;

        .dispcription-item {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        // text-overflow: -o-ellipsis-lastline;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // line-clamp: 3;

      }

      .price-action {
        display: flex;
        justify-content: space-between;

        .price {
          font-size: 32px;
          font-weight: 350;
        }

        .action {
          color: white;
          background-color: orange;
          width: 120px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          border-radius: 25px;

          position: relative;

          .right-count {
            color: white;
            background-color: orange;

            border: 1px solid white;
            border-radius: 50%;
            height: 26px;
            width: 26px;

            position: absolute;
            right: -5px;
            top: -15px;

            font-size: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .count-penal {
          width: 150px;
        }
      }
    }
  }
}
