.main {
  display: flex;
  flex-direction: column;
  flex-basis: 100vh;

  .content {
    display: flex;
    height: 92vh;

    .classfication-penal {
      flex-shrink: 0;
      flex-basis: 180px;
      background-color: #eee;
    }

    .commodity-penal {
      flex-grow: 1;
    }
  }

  .content-expand {
    height: 84vh;
  }

  .details-penal {
    z-index: 200;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5)
  }


  .shopping-cart-penal {
    background: rgba(0, 0, 0, 0.5);
    height: 84vh;
    width: 100%;

    position: fixed;
    bottom: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .shopping-bar-penal {
    flex: 1 0 8vh;
    width: 100%;
  }

  .tab-foot-penal {
    flex: 1 0 8vh;
    width: 100%;
  }
}
