.details {
  position: fixed;
  height: 96vh;
  top: 2vh;
  width: 90vw;
  left: 5vw;

  background-color: white;
  opacity: 1;
  border-radius: 15px;
  z-index: 1;

  .detail-header {
    z-index: 2;
    position: absolute;

    width: 100%;
    display: flex;
    justify-content: flex-end;


    .details-share {
      margin-top: 20px;
      margin-right: 30px;
    }

    .details-close {
      margin-top: 20px;
      margin-right: 30px;
    }
  }

  .detail-commodity-images {
    width: 100%;

    .details-swiper {
      width: 100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      .details-swiper-image {
        width: 100%
      }
    }
  }

  .details-content {
    padding: 20px 40px;
    font-size: 28px;

    overflow: scroll;
    height: 50vh;

    .details-name {
      font-size: 34px;
      margin-bottom: 10px;
    }

    .details-tags {}

    .details-description-title {
      color: #ccc;
    }

    .details-description {
      color: #ccc;
      font-size: 22px;
      margin-bottom: 10px;
    }

    .details-attributes {
      color: #ccc;
    }

    .details-attribute-item {
      margin-bottom: 20px;

      .details-attribute-name {
        font-size: 24px;
      }

      .details-specifications {
        display: flex;

        .details-specification {
          background-color: #ccc;
          padding: 5px 40px;
          color: #111;
          margin: 0 10px;
          border-radius: 5px;
        }

        .details-specification-current {
          color: white;
          background-color: orange;
        }

        .details-specification-disble {
          opacity: 0.5;
        }
      }

    }

  }

  .details-foot {
    padding: 20px 40px;
    border-top: 1px solid #eee;

    .details-foot-summary {
      display: flex;

      .details-foot-summary-container {
        width: 55vw;
        margin-bottom: 10px;

        .deital-foot-amount {
          color: orange;
          font-weight: 500;
          font-size: 34px;
        }

        .details-foot-description {
          font-size: 22px;
          color: #ccc;

          overflow: scroll;
          height: 80px;
        }
      }


      .count-peanl {
        width: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .details-foot-action {
      background-color: orange;
      color: white;
      font-size: 30px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
    }

  }
}
