.classification {
  height: 100%;
  overflow: scroll;
  font-size: 28px;

  .item {
    height: 120px;
    background-color: #eee;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .current {
    border-left: 10px solid green;
    background-color: white;
    color: burlywood;
  }
}
